* {
  margin: 0;
  padding: 0;
}

img {
  background: transparent;
}

img[src] {
  max-width: 300px;
}

.vehicleCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0px 3px 2px grey;
  max-width: 33em;
  margin: 10px 20px;
}

.card-content {
  padding: 12px 100px;
}

.formCont {
  text-align: center;
  margin: 60px 0;
}

input {
  margin: 20px 0;
  height: 50px;
  width: 9%;
  font-size: 18px;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0px 3px 6px grey;
  transition: ease-in-out, width 0.35s ease-in-out;
  outline: none;
}

input:hover {
  width: 25%;
}
